.badge {
    background-color: tomato;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-weight: 600;
    left: 20px;
    bottom: 15px;
}
